html {
  background-color: #222;
  color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
}

* {
  box-sizing: border-box;
}

body {
  margin: 3em;
  width: 30em;
  max-width: 90%;
}

a {
  color: #19f;

  &:not(:hover) {
    text-decoration: none;
  }
}

main {
  > header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    > nav > a > img {
      height: 20px;
    }
  }
}

pre:has(>code) {
  padding: 1em;
}

:is(h1, h2, h3) {
  color: #fff;
  margin-top: 2em;
}

:root:root {
  --twoslash-popup-bg: #1b1b1b;
}
