html {

  background-color: #211d1d;
  color: #bbb;
  display: flex;
  justify-content: center;
  font-family: system-ui;
  scrollbar-gutter: stable both-edges;

  :is(h1, h2, h3) {
    font-family: "Martel", serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
  }

  h1 {
    color: rgb(220, 220, 141);
  }

  --link-color: rgb(89, 154, 203);

  a {
    color: var(--link-color);

    &:not(:hover) {
      text-decoration: none;
    }
  }

  body nav a {
    color: #777;

    &:is(.current, :hover) {
      color: var(--link-color);
    }

  }

  body {
    /* width: 40em; */
    max-width: 90%;
    margin: 0;

    display: flex;
    gap: 3em;

    nav {
      position: sticky;
      top: 0;
      align-self: flex-start;

      display: flex;
      flex-direction: column;
      flex-shrink: 0;
    }

    main {

      width: 38em;

      header {
        display: flex;
        gap: .5em;
      }

      footer {
        margin: 3em 0;
        font-size: small;
        opacity: .5;
      }

    }

  }

  pre:has(>code) {
    padding: 1em;
    border-radius: 7px;
    background-color: #2c2929 !important;
  }

}
